.donorform{
	position: relative;
	left:30%;
	width:40%;
	color:black;
	box-shadow: 5px 5px 5px 5px #eeeeee;
	padding: 5% 3%;
}
.form-card{
	margin-top: 5%;
}

.form-card:after {
	content: "";
	display: table;
	clear: both;
  }

.donorh1{
	text-align: center;
	color:tomato;
	margin: 5% 0;
	font-size: 28px;
}
table{
  width:90%;
  margin-left:5%;
	margin-top: 5%;
	border-spacing:0 10px;
}
.labeltd{
  width:30%;
  margin-top: 5%;

}
.inputtd{
  width:70%;
}
label{
	margin-top:5%;
	margin-bottom:1%;
	margin-left:5%;
	float: left;
	font-family: sans-serif;
	font-size: 20px;
}
.inputs
{
	margin-left:5%;
	border-radius: 7px;
	border: 2px solid tomato;
	width:90%;
	height: 50px;
	text-align:left;
}
.tableinputs
{
	margin-left:5%;
	border-radius: 7px;
	border: 2px solid tomato;
	width:96%;
	height: 50px;
	text-align:left;
}

.bglabel{
	margin-top:8%;
}


.aglabel{
	margin-top:8%;
}

.clabel{
	margin-top:8%;
}
.pclabel{
	margin-top:8%;
}

.gnlabel{
	margin-top:8%;
}

input[type="radio"]
{
	width:30px;
	border-radius: 1px;
	border: 2px solid tomato;
}
.donornop{
	position: relative;
	float: right;
	margin-top:10%;
	margin-right: 0%;
}
.donoryesp{
	position: relative;
	float: left;
	margin-top:10%;
	margin-left:-70%;
}
.reportdate{
	margin-top:15%;
}

input[type="checkbox"]{
	width:20px;
}
.donorbutton
{
	font-size: 20px;
	font-weight:bold;
	color:white;
	margin:5% 5%;
	background:tomato;
	border-radius: 4px;
	border: 1px solid black;
	width:90%;
	height: 65px;
}
.donortc{
	margin-top:6%;
	margin-left:0%;
	margin-bottom:0%;
}
.donorcb{
	margin-top:15%;
	margin-left:0%;
	size:2px;
}
.stp{
	color:#FC6100;
	font-weight: bold;
}
.notaDonor{
	margin-left:30%;
	font-weight: bold;

}
@media only screen and (max-width: 600px) {
.donorform{
	position: relative;
	left:10%;
	width:80%;
	color:black;
	box-shadow: 5px 5px 5px 5px #eeeeee;
	padding-bottom:10px;
}
.donorh1{
	color:tomato;
}

.reportdate{
	margin-top:50%;
}
.donornop{
	position:absolute;
	left:80%;
	margin-top:20%;
}
.donoryesp{
	position:absolute;
	left:10%;
	margin-top:10%;
}
.donorc{
	margin-top:50%;
	margin-left:15%;
}

.donorcb{
	margin-top:0%;
	margin-left:0%;
}
.donortc{
	margin-top:5%;
	margin-left:12%;
	margin-bottom:0%;
}
.donornop{
	position: absolute;
	margin-top: 20%;

}
.donoryesp{
	position: absolute;
	margin-top:20%;
	margin-left:0%;
	float:none;
}
.notaDonor{
	margin-left:22%;
	font-weight: bold;
}
}
